@import "tokens";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: $color-blue;
  color: white;
  box-sizing: border-box;
  font-size: $font-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h3 {
  font-size: $font-base * $font-multiplier;
}
h2 {
  font-size: $font-base * $font-multiplier * $font-multiplier;
}
h1 {
  font-size: $font-base * $font-multiplier * $font-multiplier * $font-multiplier;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p a {
  text-decoration: underline;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  transition: opacity 0.25s;
}

a.button {
  background: white;
  color: $color-blue;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
}

a:hover {
  opacity: 0.7;
}

.avatar {
  border-radius: 50%;
  border: 8px solid white;
  max-width: 200px;
}

.wrapper {
  margin: auto;
  text-align: center;
  max-width: 900px;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  padding: 2rem;
}

pre {
  padding: 0.33rem;
  background: #002b36;
  text-align: left;
  overflow: auto;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

code {
  padding: 0.25em;
  background: rgba(0, 0, 0, 0.1);
}

.menu {
  padding: 2rem;
}

article {
  text-align: left;
  margin-bottom: 4rem;
  line-height: 1.6;
}

article .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article .item a {
  padding: 0.5em;
}

hr {
  width: 100%;
  max-width: 150px;
  height: 2px;
  border: none;
  background: white;
}

.blogs {
  margin-top: 4rem;
}

.social a {
  padding: 0.33em;
}

.fa-icon {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}
